*{
	box-sizing: border-box;
}

table{
	border: 2px solid black;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
}

th,td{
	border: 2px solid black;
	border-collapse: ;
	padding: 10px;
}

th{
	background: orange;
	color: white;
	height: 50px;

}


tr:nth-child(even){
	background: skyblue;
}

tr:nth-child(odd){
	background: slategray;
}

tr:hover{
	background: tomato;
}