h1{
	background: red;
}

.title{

	background: yellow;
}

#heading{
	background: green;
}

/* specificity calculator */
/* a = number of id */
/* b = number of class, pseduo classes, attributes */
/* c = number of elements, pesudo elements */

a=0 b=0 c=1 

