		h1{
			color: black;
			font-size: 70px;
			background: silver;
			text-align: center;
		}

		h2{
			color: silver;
			font-size: 50px;
			background: black;
			text-align: center;
		
		}

		p{
			color: black;
			text-align: justify;
		}